.maintenance-container {
  display: flex;
  padding: 126px 24px 24px 24px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 126px;
}
.text-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.text-div span {
  color: #181d27;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 80px */
  letter-spacing: -1.6px;
}
.text-div p {
  color: #535862;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 60% */
  text-align: center;
}
.img-div {
  width: 100%;
  height: 400px;
  border-radius: 24px;
  background: linear-gradient(0deg, #0089f7 0%, #0089f7 100%),
    url("assets/maintenance-Image.png") center / cover no-repeat,
    rgba(237, 237, 237, 0.2);

  background-blend-mode: overlay, normal, normal;
}

@media (max-width: 768px) {
  .maintenance-container {
    padding: 0px;
    gap: 64px;
  }
  .text-div span {
    font-size: 40px;
  }
  .text-div p {
    font-size: 10px;
  }
  .img-div {
    height: 250px;
  }
}
